In [1]:
import pandas as pd

In [2]:
i_p_df = pd.read_csv('israel_palestine_conflict.csv', encoding = 'utf-8')

In [4]:
i_p_df.head()

,Date,Headline,Link
0,2023-12-07,Desperate families of Israeli-American hostage...,https://www.cnn.com/2023/12/07/politics/famili...
1,2023-12-07,Opinion: I reported on Hamas in Gaza for over ...,https://www.cnn.com/2023/12/07/opinions/israel...
2,2023-12-07,Meta’s Oversight Board to weigh in on company’...,https://www.cnn.com/2023/12/07/tech/meta-overs...
3,2023-12-07,"December 5, 2023 Israel-Hamas war",https://www.cnn.com/middleeast/live-news/israe...
4,2023-12-07,"December 6, 2023 Israel-Hamas war",https://www.cnn.com/middleeast/live-news/israe...

In [5]:
israel_palestine_titles_only = i_p_df['Headline']

In [6]:
israel_palestine_titles_only

0      Desperate families of Israeli-American hostage...
1      Opinion: I reported on Hamas in Gaza for over ...
2      Meta’s Oversight Board to weigh in on company’...
3                      December 5, 2023 Israel-Hamas war
4                      December 6, 2023 Israel-Hamas war
                             ...
642    US still seeking to determine Iran’s connectio...
643    Pressure to fill House speaker vacancy builds ...
644    UEFA postpones soccer matches in Israel due to...
645    House lawmakers discuss how to address intelli...
646    UPenn donors were furious about the Palestine ...
Name: Headline, Length: 647, dtype: object

In [7]:
israel_palestine_titles_only.to_csv('israel_palestine.txt', sep='\t', index=False)

In [8]:
r_u_df = pd.read_csv('russia_ukraine_conflict.csv', encoding = 'utf-8')
r_u_df.head()

,Date,Headline,Link
0,2022-04-23,"Why India can buy Russian oil, and still be fr...",https://www.cnn.com/2022/04/22/india/india-us-...
1,2022-04-22,4 ways Russia is trying to prove it can live w...,https://www.cnn.com/2022/04/22/business/russia...
2,2022-04-22,Russian tennis star Andrey Rublev says Wimbled...,https://www.cnn.com/2022/04/22/tennis/andrey-r...
3,2022-04-22,Russian troops use rape as ‘an instrument of w...,https://www.cnn.com/2022/04/22/europe/ukraine-...
4,2022-04-22,Some big Indian businesses are joining the exo...,https://www.cnn.com/2022/04/21/business/india-...

In [9]:
russia_palestine_titles = r_u_df['Headline']

In [10]:
russia_palestine_titles.to_csv('russia_ukraine.txt' , sep='\t', index=False)